*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    


}
.main{
    display: flex;
    
    align-items: center;
    flex-direction: column;
    gap:50px;
    h1{
        text-transform: uppercase;
       
    }
   
    .box{
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -5px -5px 15px rgba(255, 255, 255, 0.2);

  
  border-radius: 10px;
  width: 20rem;
  height:20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  p{
    color:white;
    font-weight:700;
    font-size: 30px;
    text-transform: uppercase;

}
    } 
    .button{

        margin-top:20px;
        border:none;
        color:white;
        background-color: red;
        text-transform:uppercase;
        height:50px;
        padding:10px;
        border-radius: 10px;
        cursor: pointer;
        width:20rem;
    }
    button:active {
        transform: scale(0.9);
       
      }
}
